/*
Theme Name: HappenStance
Theme URI: http://www.tomastoman.cz/happenstance/
Author: Tomas Toman
Author URI: http://www.tomastoman.cz/
Description: HappenStance is an easily customizable theme that can be used for your Blog, Magazine, Business, eCommerce or Events website. It is a fully responsive and Retina ready theme that allows for easy viewing on any device. It can be adapted to your needs using the Theme Customizer. HappenStance theme offers 4 pre-defined color schemes, 220 Google fonts, selection between Boxed or Wide layout, 2 blog layouts (One Column and Grid - Masonry), contact information in header, ability to set your header logo, sidebar and footer widget areas, theme documentation and much more. Supports the popular plugins WooCommerce, The Events Calendar and Breadcrumb NavXT. Available in Brazilian Portuguese, Czech, Danish, Dutch, English, French, German, Greek, Hungarian, Italian, Russian, Slovak and Spanish.
Version: 2.0.8
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, grid-layout, flexible-header, custom-background, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, full-width-template, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, blog, e-commerce, news
Text Domain: happenstance
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: none;
  margin: 0;
	padding: 0;
	vertical-align: baseline;
}    
h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  -ms-word-wrap: break-word;
  word-wrap:     break-word;
  line-height: 120%;
  margin: 30px 0 7px;                   
}
h1 {
  color: black;
  font-size: 27px;  
}
h2 {
  color: #222222;
  font-size: 21px;  
}
h3 {
  color: #333333;
  font-size: 18px;  
}
h4 {
  color: #444444;
  font-size: 16px;  
}
h5 {
  color: #555555;
  font-size: 14px;  
}
h6 {
  color: #666666;
  font-size: 13px;  
}
p, ul, ol, li, dl, address {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-size: 13px;
  text-align: left;
}
ul {
  margin-left: 16px;   
}
ol {
	list-style-type: decimal;
  margin-left: 20px;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
dl {
  margin-bottom: 20px;   
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 5px;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote cite {
  display: block;
  font-style: normal;
	text-transform: uppercase;
}
a {
  color: #169fe6;
  text-decoration: underline;           
}
a:hover {
  text-decoration: none;           
}
a img {
  border: none;      
}
img {
  height: auto; 
  max-width: 100%;   
}
table {
  font-size: 13px;
  width: 100%;      
}
table, td, th {
  border: 1px solid #e3e3e3;
  border-collapse: collapse;
  text-align: left;
}
td, th {
  padding: 5px 8px;       
}
th {
  background: #555555;
  color: white;
  font-weight: bold;   
}
blockquote, q { 
  border-left: 1px solid #e3e3e3;
  clear: both;
  color: #333333;
  font-style: italic;
  margin: 0 0 20px;
  padding-left: 10px;
}
address {
  font-style: italic;        
}
pre {
  margin-bottom: 20px;
  overflow: auto;   
}
sup {
  vertical-align: super;    
}
sub {
  vertical-align: sub;    
}
iframe,
embed {
  clear: both;
  width: 100%;   
}
hr {
  background: #e8e8e8;
  border: none;
  height: 1px; 
  margin: 15px 0;  
}


/* WordPress Core
-------------------------------------------------------------- */

.alignnone {
  clear: both;
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  clear: both;
  display: block;
  margin: 5px auto 20px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.aligncenter {
  display: block;
  margin: 5px auto 20px auto;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.wp-caption,
.gallery-caption {
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px;
  text-align: center;
}
#wrapper .gallery-caption {
  border: none;                          
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
#wrapper .wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px;
}
.wp-audio-shortcode {
  margin-bottom: 20px;                   
}


/* basic structure
-------------------------------------------------------------- */

body {
  background: #dedede;
  color: black;
  font-family: Arial, Helvetica, sans-serif;  
  line-height: 150%; 
}
#container {  
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
  width: 100%; 
}
#container-shadow {  
  -webkit-box-shadow: 0px 0px 10px #aaaaaa;
  -moz-box-shadow:    0px 0px 10px #aaaaaa;
  box-shadow:         0px 0px 10px #aaaaaa;
  background: white;
  float: left;
  width: 100%; 
}
#header,
#main-content,
#wrapper-footer {
  float: left;
  height: auto;
  position: relative;
  width: 100%;        
}     
#wrapper #main-content {
  padding: 28px 28px 10px;
  width: 1114px;              
}
#content {
  float: left;
  margin: 0;
  width: 734px;         
}
.page-template-template-full-width-php #container #content,
.page-template-template-landing-page-php #container #content,
.page-template-template-full-width-without-title-php #container #content {
  width: 100%;                                                      
}
#sidebar {
  float: right;
  margin: 0 0 0 28px;
  width: 352px;         
}
.scroll-top {
  border: 1px solid #111111;
  color: #111111;
  cursor: pointer;
  display: block;
  font-family: ElegantIcons !important;
  font-size: 21px;
  height: 21px;
  line-height: 21px;
  opacity: 0.3;
  filter: alpha(opacity=30);
  padding: 4px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
  width: 21px;
  z-index: 2000; 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;           
}
#wrapper .scroll-top:hover {
  background: #555555;
  color: white;
  opacity: 1;
  filter: alpha(opacity=100);                             
}
body .pattern {
  background: left top repeat url(images/pattern.png);
  height: 100%;
  opacity: 0.05;
  filter: alpha(opacity=5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; 
  z-index: -1;        
}


/* header
-------------------------------------------------------------- */

.header-content {
  float: left;
  padding: 35px 28px;
  position: relative; 
  width: 1114px;               
}
.site-title { 
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: bold;  
  line-height: 110%;
  margin: 0;
  max-width: 880px; 
  position: relative;
  width: 100%;
  z-index: 50;       
}
.site-description { 
  color: #888888;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 120%;
  margin: 6px 0 0; 
  max-width: 880px;
  position: relative;
  width: 100%;
  z-index: 50;        
}
.site-title a {
  color: #169fe6;
  text-decoration: none;
  -webkit-transition: color 1s ease;
     -moz-transition: color 1s ease;
       -o-transition: color 1s ease;
      -ms-transition: color 1s ease;
          transition: color 1s ease;           
}
.site-title a:hover {
  color: black;                    
}
.header-logo {
  clear: both; 
  display: block;
  height: auto;
  margin: 0;
  max-width: 880px;
  position: relative;
  width: auto;             
}
.page-template-template-landing-page-php .site-title,
.page-template-template-landing-page-php .site-description,
.page-template-template-landing-page-php .header-logo {
  max-width: 100%;              
}
.header-image {
  float: left;
  height: auto;
  position: relative;
  width: 100%;              
}
.header-image img {
  display: block; 
  margin: 0 auto;                 
}

/* header menu */
.menu-box-container {
  float: left;
  height: auto;
  min-height: 44px;
  position: relative;
  width: 100%;         
}
.menu-box-wrapper {
  background: #333333;
  border-bottom: 2px solid #169fe6;
  float: left;
  min-height: 44px;
  position: relative;
  width: 100%;
  z-index: 500;          
}
.menu-box {
  float: left;
  min-height: 44px;
  padding: 0 28px;
  position: relative;
  width: 1114px;
  z-index: 500;          
}
.menu-box .link-home {
  border-left: 1px solid #535353;
  color: white;
  float: left;
  font-family: ElegantIcons !important;
  position: relative;                    
}
.menu-box .link-home i {
  font-family: ElegantIcons !important;
  font-size: 24px !important;                   
}
.menu-box ul {
  list-style-type: none;
  margin: 0;
	padding: 0;
	position: relative;
  z-index: 100;
}
.menu-box a {
	border-right: 1px solid #535353;
  color: white;
  display: block;
	font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 14px;        
  height: 44px;
  line-height: 44px;
  padding: 0 19px;
  text-decoration: none;
  text-transform: uppercase;
}
.menu-box a:hover,
.menu-box :hover > a {
  background-color: black;
  -webkit-transition: background-color 1s ease;
     -moz-transition: background-color 1s ease;
       -o-transition: background-color 1s ease;
      -ms-transition: background-color 1s ease;
          transition: background-color 1s ease;
}
#header .menu-box ul ul a:hover,
#header .menu-box ul ul :hover > a {
  background-color: #dbdbdb !important;
  color: black !important;
  -webkit-transition: background-color 1s ease;
     -moz-transition: background-color 1s ease;
       -o-transition: background-color 1s ease;
      -ms-transition: background-color 1s ease;
          transition: background-color 1s ease;
}
.menu-box ul li {
	float: left;
  height: 44px;
  line-height: 44px;
	margin: 0;
	padding: 0;
  position: relative;
}
.menu-box ul ul {
	background: #ededed;
  border-top: 2px solid #169fe6;
  display: none;
	padding: 0;
  position: absolute;
	top: 100%;
	left: 0;
  z-index: 110;
}
.menu-box ul ul li {
	border-bottom: 1px solid #d9d9d9;
  display: block;
  float: none;
  height: auto;
  line-height: 39px;
  margin: 0;
  min-height: 39px;
  position: relative;
  width: 212px;
}
#wrapper #header .menu-box ul ul .last-menu-item {
  border-bottom: none;                          
}
.menu-box ul ul a {
	border-right: none;
  color: #333333 !important;
  display: block;
  font-size: 13px;
  font-weight: normal;
  height: auto;
  line-height: 39px;
  margin: 0;
  min-height: 39px;
  padding: 0 0 0 19px;
  text-align: left;
  width: 193px;
}
.menu-box ul ul ul {
	top: -2px;
	left: 100%
}
.menu-box ul li:hover > ul {
	display: block;
}
#header .menu-box .current-menu-item > a,
#header .menu-box .current-menu-ancestor > a,
#header .menu-box .current_page_item > a,
#header .menu-box .current-page-ancestor > a,
.home #header .menu-box .link-home {
  background-color: #169fe6;
}
#header .menu-box .sub-menu .current-menu-item > a,
#header .menu-box .sub-menu .current-menu-ancestor > a,
#header .menu-box .sub-menu .current_page_item > a,
#header .menu-box .sub-menu .current-page-ancestor > a {  
  background-color: #ededed;
  color: black !important;
}
.selectnav {
  display: none;
} 
#wrapper .sticky-nav {
  max-width: 1170px;
  position: fixed;
  top: 0;
  z-index: 600;
}   
.admin-bar .sticky-nav {
  top: 32px !important;
}

/* header contact information */
.top-navigation-wrapper {
  border-bottom: 1px solid #e6e6e6;
  float: left;
  height: auto;
  position: relative;
  width: 100%;
  z-index: 550;                        
}
.top-navigation {
  min-height: 34px;
  padding: 0 28px;
  position: relative;
  text-align: center;              
}
.header-contact {
  color: #999999;
  float: left;
  font-size: 13px;
  line-height: 34px;
  margin: 0;                
}
.header-contact span {
  padding-right: 12px;                     
}
.header-contact span i {
  color: #aaaaaa; 
  padding-right: 4px;                      
}
.top-navigation .header-contact a {
  color: inherit;
  float: none;
  font-size: 13px;
  height: auto;
  padding: 0 !important;
  text-align: left;
  text-decoration: none;
}


/* main content
-------------------------------------------------------------- */

.content-headline {
  float: left;
  margin: 0 0 20px;
  width: 100%;                  
}
.entry-headline {
  background: left 50% repeat-x url(images/pattern-headline.png);
  color: black;
  font-size: 27px;
  line-height: 100%;
  margin: 0 0 3px;
  position: relative;
  z-index: 50;                                  
}  
.blog .entry-headline,
.home-latest-posts .entry-headline {
  margin-bottom: 25px;                                   
}
.entry-headline-text {
  background: white;
  display: inline-block;  
  max-width: 90%;
  padding-right: 15px;                     
}
#content p,
#content ul,
#content ol,
#content table,
#content address {
  margin-bottom: 15px;           
}
#content ul ul,
#content ol ol,
#content ol ul,
#content ul ol {
  margin-bottom: 0;           
}
.home-latest-posts,
.home-grid-posts {
  float: left;
  position: relative;
  width: 100%;                                 
}
#content .breadcrumb-navigation {
  color: #bbbbbb !important; 
  float: left; 
  font-size: 12px;
  line-height: 100%;
  margin: 7px 0 3px;
  position: relative;
  width: 100%;                                      
}
.page-template-template-without-title-php #content .breadcrumb-navigation,
.page-template-template-full-width-without-title-php #content .breadcrumb-navigation {
  margin-top: 4px;                                                                          
}   
#content .breadcrumb-navigation a {
  color: #999999 !important; 
  text-decoration: none;
  -webkit-transition: color 1s ease;
     -moz-transition: color 1s ease;
       -o-transition: color 1s ease;
      -ms-transition: color 1s ease;
          transition: color 1s ease;
}
#content .breadcrumb-navigation a:hover {
  color: #333333 !important;
}
#content .manual-excerpt {
  font-style: italic;
}
#main-content .post-meta {
  clear: both;
  color: #999999 !important; 
  font-size: 12px;
  line-height: 21px;
  padding-bottom: 5px;
  margin: 0;        
}
.single #main-content #content .post-meta {
  margin: 0;                                          
}
#main-content .home-grid-posts .post-meta {
  clear: none;
  margin: 0;
  padding: 0;                                            
}
#main-content .post-meta span {
  border-left: 1px solid #dbdbdb; 
  padding: 0 4px 0 7px;                             
}
#main-content .post-meta .fn {
  border-left: none; 
  padding: 0;                             
}
#main-content .post-meta .post-info-author {
  border-left: none; 
  padding-left: 0;                                          
}
#main-content .post-info {
  border-top: 1px solid #e8e8e8;
  clear: both;
  color: #999999; 
  float: left;
  font-size: 12px;
  line-height: 21px;
  margin: 10px 0 0;
  padding: 0;
  width: 100%;        
}
.single #main-content #content .post-info {
  border-bottom: 1px solid #e8e8e8;
  margin: 0 0 20px; 
  padding: 0;                                         
}
.post-info a,
.post-meta a {
  color: #888888 !important;
  text-decoration: none;    
  -webkit-transition: color 1s ease;
     -moz-transition: color 1s ease;
       -o-transition: color 1s ease;
      -ms-transition: color 1s ease;
          transition: color 1s ease;         
}
.post-info a:hover,
.post-meta a:hover {
  color: #111111 !important;             
}
#main-content .post-meta i,
#main-content .post-info i {
  margin-right: 4px;                           
}
.post-info span { 
  display: inline-block; 
  min-height: 16px;
  line-height: 16px;
  padding: 0;               
}
#main-content .post-info .post-category,
#main-content .post-info .post-tags {
  float: left;
  margin: 0;
  padding: 6px 0;
  width: 50%;                       
}
#main-content .post-info .post-tags {
  padding-left: 2%;
  text-align: right;
  width: 48%;                           
}
#content .archive-meta {
  border-bottom: 1px solid #e8e8e8;
  float: left; 
  margin-bottom: 25px;  
  width: 100%;                    
}
#main-content .author-info .author-avatar {
  margin: 0 0 5px;                                          
}
#main-content .number-of-results {
  font-weight: bold;                                
}
#main-content #content .page-link {
  color: #333333;
  font-size: 12px;                                  
}
#nav-below,
#happenstance-post-nav,
.search .navigation {
  float: left;
  margin: 0 0 25px;
  width: 100%;           
}
#main-content #happenstance-post-nav {
  margin: 10px 0 25px;                                 
}
.nav-wrapper {
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  float: left;
  padding: 5px 0;
  width: 100%;               
}
.navigation-headline {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 4px;                                          
}
.navigation .navigation-links {
  margin-bottom: 0 !important;                              
}
.navigation .navigation-links a {
  text-decoration: none;                                
}
.navigation .navigation-links a:hover {
  text-decoration: underline;                                
}
#main-content .nav-previous {
  float: left;
  margin: 0;
  width: 50%;                       
}
#main-content .nav-next {
  float: right;
  margin: 0;
  text-align: right;
  width: 50%;                       
}
#main-content .nav-previous a,
#main-content .nav-next a {
  text-decoration: none;                          
}
#main-content .nav-previous a:hover,
#main-content .nav-next a:hover {
  text-decoration: underline;                          
}
.edit-link {
  float: left;
  width: 100%;
}
.post-edit-link {
  font-weight: bold;                
}
#content .timely {
  float: left;
  width: 100%;
}

/* default post entry */
.post-entry {
  border-bottom: 1px solid #e8e8e8;
  float: left;
  margin-bottom: 25px;
  position: relative; 
  width: 100%;           
}
.search .type-page {
  padding-bottom: 10px;                  
}
#main-content .sticky {
  background-color: #f0f0f0;
  padding: 20px 3% 0;
  width: 94%;                 
}
.post-entry-content-wrapper {
  padding: 3px 0 0;                           
}
.attachment-post-thumbnail { 
  display: block;
  float: left;
  height: auto;
  margin: 0 15px 5px 0;
  max-width: 40%;
  width: auto;
}
.attachment-thumbnail { 
  display: block;
  float: left;
  height: auto;
  margin: 0 15px 5px 0;
  width: auto;
}
.single #content .attachment-post-thumbnail,
.page #content .attachment-post-thumbnail { 
  clear: both;
  display: block;
  float: none;
  margin: 4px 0 20px;  
  max-width: 100%;
  padding: 0;
}
#wrapper .format-image .attachment-post-thumbnail,
#wrapper .format-image .attachment-thumbnail {
  margin-left: 0 !important;  
  margin-right: 0 !important; 
  max-width: 100%;                 
}
.post-entry-content {
  margin-bottom: -12px; 
  margin-top: -5px;                   
}
.post-entry-content h1 {
  font-size: 21px;  
}
.post-entry-content h2 {
  font-size: 19px;  
}
#main-content .post-entry .post-entry-headline {
  font-size: 21px;
  line-height: 100%;
  margin: 0 0 7px;            
}
.post-entry .post-entry-headline a {
  color: #169fe6;
  text-decoration: none;  
  -webkit-transition: color 1s ease;
     -moz-transition: color 1s ease;
       -o-transition: color 1s ease;
      -ms-transition: color 1s ease;
          transition: color 1s ease;               
}
.post-entry .post-entry-headline a:hover {
  color: black;                       
}
.post-entry .read-more-button {
  background-color: #6abfec;
  color: white !important;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  margin: 8px 0 3px;
  padding: 6px 8px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 1s ease;
     -moz-transition: background-color 1s ease;
       -o-transition: background-color 1s ease;
      -ms-transition: background-color 1s ease;
          transition: background-color 1s ease;                             
}
.post-entry .read-more-button:hover {
  background-color: #169fe6;                                    
}
.format-status .post-entry-content p {
  font-style: italic;
}

/* post entry - grid */
.home-grid-posts .entry-headline {
  margin-bottom: 20px;                                 
}
.search .js-masonry .type-page {
  padding-bottom: 20px;                  
}
.js-masonry {
  float: left; 
  margin: 0 0 0 -10px;
  width: 100%;                     
}
.grid-entry {  
  padding: 0 0 20px;  
  width: 33.33%;                          
}  
.grid-entry .grid-entry-inner {
  border-bottom: 1px solid #e8e8e8;
  margin: 0 0 0 20px;
  padding: 0 0 15px;
  position: relative;                              
}
#main-content .js-masonry .sticky {
  background: none !important;
  padding: 0 0 20px;
  width: 33.33%;                 
}
#main-content .js-masonry .sticky .grid-entry-inner {
  background-color: #f0f0f0;
  padding: 15px;                                                      
}
.grid-entry .attachment-post-thumbnail { 
  clear: both;
  float: none;
  margin: 0 0 9px !important;
  max-width: 100%;
}
.grid-entry .attachment-thumbnail { 
  clear: both;
  float: none;
  margin: 0 0 9px !important;
}
#main-content .grid-entry .grid-entry-headline {
  font-size: 21px;
  line-height: 100%;
  margin: 0 0 4px;            
}
.grid-entry .grid-entry-headline a {
  color: #169fe6;
  text-decoration: none;
  -webkit-transition: color 1s ease;
     -moz-transition: color 1s ease;
       -o-transition: color 1s ease;
      -ms-transition: color 1s ease;
          transition: color 1s ease;                 
}
.grid-entry .grid-entry-headline a:hover {
  color: black;                     
}
.grid-entry p {
  margin-bottom: 0 !important;  
  padding-bottom: 0 !important;                          
}
.grid-entry .grid-category {
  color: #999999;
  line-height: 16px;
  margin-top: 4px;
  min-height: 16px;               
}
.grid-entry .grid-tags {
  color: #999999;
  line-height: 16px;
  margin-top: 3px;
  min-height: 16px;                
}
.grid-entry .grid-category a,
.grid-entry .grid-tags a {
  color: #999999 !important;
  text-decoration: none; 
  -webkit-transition: color 1s ease;
     -moz-transition: color 1s ease;
       -o-transition: color 1s ease;
      -ms-transition: color 1s ease;
          transition: color 1s ease;            
}
.grid-entry .grid-category a:hover,
.grid-entry .grid-tags a:hover {
  color: #111111 !important;            
}
.grid-entry .grid-category i,
.grid-entry .grid-tags i {
  margin-right: 4px;                           
}
#main-content .grid-entry .post-meta {
  margin-top: 0;
  padding-bottom: 0;                         
}
.grid-entry .read-more-button {
  background-color: #6abfec;
  color: white !important;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  margin: 3px 0;
  padding: 6px 8px;
  text-decoration: none;
  text-transform: uppercase; 
  -webkit-transition: background-color 1s ease;
     -moz-transition: background-color 1s ease;
       -o-transition: background-color 1s ease;
      -ms-transition: background-color 1s ease;
          transition: background-color 1s ease;                            
}
.grid-entry .read-more-button:hover {
  background-color: #169fe6;                                    
}


/* sidebar
-------------------------------------------------------------- */

.sidebar-widget {
  color: #333333;
  float: left;
  font-size: 13px;
  margin-bottom: 25px;  
  width: 100%;             
}
.sidebar-widget .sidebar-headline {
  background: left 50% repeat-x url(images/pattern-sidebar.png);
  color: #333333;
  font-family: Oswald, Arial, Helvetica, sans-serif; 
  font-size: 19px;
  margin: 0 0 5px;
  position: relative;                                 
}
.sidebar-headline-text {
  background: white;
  display: inline-block;  
  max-width: 90%;
  padding-right: 10px;                     
}
.sidebar-widget .sidebar-headline a {
  color: inherit !important;
  text-decoration: none;                                    
}
.sidebar-widget img {
  height: auto;
  max-width: 100%;                    
}
.sidebar-widget p {
  margin: 6px 0 -4px;                  
}
.sidebar-widget p,
.sidebar-widget ul li,
.sidebar-widget ol li {
  color: #333333;
  font-size: 13px;                   
}
.sidebar-widget ul { 
  margin: 5px 0 -5px 16px;                      
}
.sidebar-widget ul ul {
  margin-bottom: 0;
  margin-top: 0;                      
}
.sidebar-widget ul li {
  line-height: 200%;                     
}  
.sidebar-widget a {
  color: #169fe6;
  text-decoration: underline;
  -webkit-transition: color 1s ease;
     -moz-transition: color 1s ease;
       -o-transition: color 1s ease;
      -ms-transition: color 1s ease;
          transition: color 1s ease;                       
}
.sidebar-widget ul li a {
  text-decoration: none;                        
}
.sidebar-widget a:hover {
  color: black !important;
  text-decoration: none;                       
} 


/* footer
-------------------------------------------------------------- */

#wrapper #wrapper-footer {
  background: #333333;               
}
#footer {
  float: left;
  padding: 0 28px;
  position: relative;
  width: 1114px;                
}
#footer p,
#footer ul li,
#footer ol li {
  color: white;
  font-size: 13px;          
}
#footer .footer-widget-area p,
#footer .footer-widget-area ul,
#footer .footer-widget-area ol {
  margin-bottom: 2px;          
}
#footer table,
#footer td,
#footer th {
  border-color: black;
  color: white;                                      
}
#footer a {
  color: #c2e3f5;          
}
.footer-widget-area {
  float: left;
  height: auto;
  margin-right: 28px;
  padding: 35px 0 10px;
  position: relative; 
  width: 352px; 
  z-index: 50;                
}
#footer .footer-widget-area-3 {
  margin-right: 0;                              
}
.footer-widget {
  float: left;
  margin-bottom: 21px;    
  width: 100%;           
}
#footer .footer-widget .footer-headline {
  background: left 50% repeat-x url(images/pattern-footer.png);
  color: white;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 100%;
  margin-bottom: 8px;                                 
}
.footer-headline-text {
  background: #333333;
  display: inline-block;  
  max-width: 90%;
  padding-right: 10px;                     
}
.footer-signature { 
  background: #121212;
  float: left;
  position: relative;
  width: 100%; 
  z-index: 50;       
}
.footer-signature .footer-signature-content {
  color: white;
  font-size: 12px;
  line-height: 22px;
  min-height: 22px;
  padding: 10px 0; 
  text-align: center;                                         
}
.footer-signature .footer-signature-content p {
  color: white;
  font-size: 12px;
  line-height: 22px;
  min-height: 22px;
  padding: 0;
  text-align: center;                                              
}
.footer-signature .footer-signature-content a {
  color: #c2e3f5;                                             
}


/* default widgets
-------------------------------------------------------------- */

#wp-calendar th,
#wp-calendar td {
  text-align: center;                   
}
#wp-calendar a,
#wp-calendar #today {
  font-weight: bold;
  text-decoration: none;               
}
#wp-calendar #prev {
  text-align: left;                   
}
#wp-calendar #next {
  text-align: right;                   
}
.tagcloud a {
  text-decoration: none;          
}
.tagcloud a:hover {
  text-decoration: underline;          
}
.sidebar-widget img,
.footer-widget img {
  padding-top: 3px;                           
}
.sidebar-widget .wp-caption,
.footer-widget .wp-caption {
  border: none;
  margin-right: 0;                          
}
.sidebar-widget .wp-caption img,
.footer-widget .wp-caption img {
  max-width: 100%;                           
}
.sidebar-widget select {
  margin-top: 3px;
  width: 100%;                       
}
.sidebar-widget #searchform {
  margin-top: 10px;                       
}


/* form fields
-------------------------------------------------------------- */

input[type="text"],
input[type="file"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="url"],
textarea,
select {
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  color: #333333;
  line-height: normal;
  padding: 5px;
  width: 50%;
}
textarea {
	overflow: auto;
	vertical-align: top;
  width: 98%;
}
input[type="submit"],
input[type="reset"] {
  background: #6abfec;
  border: none;
  border-radius: 0 !important;
  box-shadow: none;
  color: white !important;
  cursor: pointer;
  font-size: 15px;
  height: auto;
  margin-top: 5px;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none; 
  text-shadow: none; 
  -webkit-transition: background-color 1s ease;
     -moz-transition: background-color 1s ease;
       -o-transition: background-color 1s ease;
      -ms-transition: background-color 1s ease;
          transition: background-color 1s ease;                 
}
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #169fe6;                    
}
#searchform .searchform-wrapper {
  height: 31px;
  position: relative;
  width: 100%;                                
}
.error404 #content #searchform .searchform-wrapper,
.search-no-results #content #searchform .searchform-wrapper {
  width: 50%;
}
.header-content #searchform .searchform-wrapper {
  margin-top: -15px;
  position: absolute;
  right: 28px;
  top: 50%;
  width: 200px;
  z-index: 100;        
}
#searchform .searchform-wrapper #s {
  color: #aaaaaa; 
  font-size: 13px;
  height: 19px;
  padding: 5px 0 5px 3%;
  position: absolute;
  left: 0;
  top: 0;
  width: 96%; 
  -webkit-appearance: none;
  -moz-appearance: none;             
}
#searchform .searchform-wrapper .send {
  background-color: #6abfec;
  border: none;
  color: white;
  cursor: pointer;
  font-family: ElegantIcons !important;
  font-size: 15px;
  height: 31px;
  line-height: 31px;
  margin: 0; 
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  width: 31px;
  z-index: 20; 
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: background-color 1s ease;
     -moz-transition: background-color 1s ease;
       -o-transition: background-color 1s ease;
      -ms-transition: background-color 1s ease;
          transition: background-color 1s ease;
}
#searchform .send:hover {
  background-color: #169fe6;
}


/* comments area
-------------------------------------------------------------- */

#comments {
  float: left;
  margin-top: 25px; 
  width: 100%;        
}
.single .comments-area-post {
  margin-top: 5px !important;                            
}
.page #comments {
  margin-top: 16px !important;                            
}
#content .commentlist {
  list-style-type: none;
  margin-bottom: 30px;             
}
.commentlist .children {
  list-style-type: none;                       
}
.comment-reply-title {
  font-size: 20px;
  font-weight: normal;
  line-height: 100%;
  margin-top: 0;             
}
#comments .entry-headline-wrapper {
  margin-bottom: -21px;                        
}
#comments .entry-headline {
  background-image: none;
  border-bottom: none;
  color: #333333;
  font-size: 20px;
  font-weight: normal; 
  margin-bottom: -4px;
  padding: 0;                         
}
.comment-reply-link {
  font-size: 13px;                    
}
.comments-title {
  margin-top: 0;                
}
#comments .section-heading {
  font-weight: normal;              
}
#comments ol {
  color: #333333;
  margin-left: 0;             
}
#comments ol ol {
  margin: 0 20px;             
}
#comments ol li { 
  border-top: 1px solid #e8e8e8;
  margin: 15px 0 0 0;
  padding: 15px 0 0 0;                
}
#comments .avatar,
#comments .fn {
  float: left;
  margin: 0 6px 0 0;                  
}
#comments .fn {
  font-style: italic; 
  margin: 0 3px 0 0;             
}
#comments time,
#comments .edit-link {
  color: #555555;
  float: right; 
  font-size: 13px;              
}
#comments .comment-content {
  clear: both;
  padding-top: 10px;                          
}
#comments #comment-nav-below {
  float: left;
  margin: 10px 0 30px;
  width: 100%;                  
}
#comments input,
#comments textarea {
  margin-top: 7px;                
}
#content #commentform .form-allowed-tags {
  color: #707070; 
  font-size: 12px;                  
}  
#comments .bypostauthor {
  background: #f2f2f2;
  border-top: 1px solid #cccccc;
  color: black;
  margin-bottom: -15px;
  padding: 10px 30px;              
}
.reply {
  margin-top: -10px;
  width: 50%;      
}
#content .comment-content p {
  font-size: 13px;
  margin-bottom: 10px;                   
}
#content .comment-content .edit-link {
  margin: -15px 0 0;
  text-align: right; 
  width: 50%;                                    
}
#content .comment-content li {
  border: none;
  font-size: 13px;
  margin: 0;
  padding: 0;                             
}
#content #commentform p {
  color: #333333;
  font-size: 13px;
  margin-bottom: 5px;                        
}
#content #commentform .logged-in-as,
#content #commentform .comment-notes {
  margin-top: 0;         
}
#comments #respond {
  float: none; 
  margin-bottom: 20px;   
  width: 100%;               
}


/* media queries
-------------------------------------------------------------- */

@media screen and (max-width: 1170px) {
  body #container {
    max-width: 1012px;
}
  html #wrapper #main-content,
  body .header-content,
  body .menu-box, body #footer {
    width: 956px;
}
  body .site-title,
  body .site-description,
  body .header-logo {
    max-width: 740px;              
}
  html #wrapper .sticky-nav {
    max-width: 1012px;
}
  body #content {
    width: 628px;
}
  body #sidebar {
    width: 300px;
}
  body .footer-widget-area {
    width: 300px;
}
}

@media screen and (max-width: 1012px) {
  #wrapper #container {
    max-width: 90%;
    width: 90%;                         
}
  #wrapper #container #main-content {
    padding: 28px 5% 10px;
    width: 90%;              
}
  #wrapper #content,
  #wrapper .top-navigation ul {
    max-width: 100%;
    width: 100% !important;                    
}
  #wrapper #sidebar {
    float: left;
    margin: 15px 0 0;
    width: 100%;                    
}
  #wrapper .header-contact {
    text-align: center;                           
}
  #wrapper .header-content {
    float: left !important;
    padding: 35px 5%;
    width: 90%;               
}
  #wrapper .site-title,
  #wrapper .site-description,
  #wrapper #header .header-content .header-logo {
    float: left;
    max-width: 100%;              
}
  #wrapper .header-content #searchform .searchform-wrapper {
    float: left;
    margin: 20px 0 0;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;        
}
  #wrapper .menu-box {
    padding: 0;
    width: 100%;          
}
  #wrapper .menu-box-container {
    min-height: 0;        
}
  #wrapper #header .sticky-nav {
    max-width: 90%;
} 
  #wrapper .menu-box .link-home {
    display: none;                                
}
  #wrapper .top-navigation {
    padding: 0 5%;               
}
  .js #nav {
    display: none;
}
  .js .selectnav {
    background: #333333;
    border: 1px solid black;
    color: white;
    display: block;
    float: left;
    height: 30px;
    margin: 7px 0 0 5%;
    padding: 0; 
    position: relative;
    text-transform: uppercase;
    width: 90%;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
} 
  #wrapper .grid-entry,
  #wrapper #main-content .js-masonry .sticky {
    width: 50%;                          
} 
  #wrapper #container #footer {
    background-image: none;
    padding: 35px 5% 10px; 
    width: 90%;                  
}
  #footer .footer-widget-area {
    margin: 0;
    padding: 0;
    width: 100%;                              
}
  #wrapper .footer-signature,
  #wrapper .menu-box {
    background-image: none;                     
}
}

@media screen and (max-width: 782px) {
  .admin-bar #header .sticky-nav {
    top: 46px !important;
} 
}

@media screen and (max-width: 600px) {
  .admin-bar #header .sticky-nav {
    top: 0 !important;
} 
  #wrapper #container .grid-entry,
  #wrapper #container #main-content .js-masonry .sticky {
    width: 100%;                          
}
  #wrapper .grid-entry .grid-entry-inner,
  #wrapper #container #main-content .js-masonry {
    margin: 0 !important;                                         
}
}


/* print
-------------------------------------------------------------- */

@media print {
	html body {
    background: none !important; 
    font-family: Arial, Helvetica, sans-serif !important;        
}
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
    font-family: Arial, Helvetica, sans-serif !important;        
}
  #wrapper #container-shadow {  
    -webkit-box-shadow: none !important;
    -moz-box-shadow:    none !important;
    box-shadow:         none !important;
    background: white !important;
}
  h1, h2, h3, h4, h5, h6 { 
    font-family: Arial, Helvetica, sans-serif !important;        
}
  #wrapper-footer,
  #header,
  #sidebar,
  #respond,
  .scroll-top,
  .reply,
  .pattern {
    display: none !important;                                   
}
  #container {  
    max-width: 100% !important;
}
  #wrapper #main-content {
    padding: 0 !important;
    width: 100% !important;              
} 
  #content {
    width: 100% !important;         
}
  .entry-headline {
    background-image: none !important;                  
}
}